@charset 'utf-8';
$font-family: 'Lora', serif;
$family-primary: $font-family;
@import '../../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


// $progress-bar-background-color: create a gradient that goes from #E40303 to #FFED00 to #24408E

$gay-gradient: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));

// $progress-bar-background-color: $gay-gradient;
// $progress-value-background-color: $gay-gradient;
// $progress-colors: $gay-gradient;
.is-gay1 {
    border-color: #E40303;
    background-color: #212529;
    color: #FF8C00;
}

.is-gay2 {
    border-color: #FFED00;
    background-color: #212529;
    color: #42DCA3;
}

.is-gay3 {
    border-color: #24408E;
    background-color: #212529;
    color: #732992;
}

.is-gay1:hover {
    border-color: #E40303;
    background-color: #FFFFFF;
    color: #FF8C00;
}

.is-gay2:hover {
    border-color: #FFED00;
    background-color: #FFFFFF;
    color: #42DCA3;
}

.is-gay3:hover {
    border-color: #24408E;
    background-color: #FFFFFF;
    color: #732992;
}

.landing-background {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.searchBar {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.is-linear-gradient-gay::-moz-progress-bar { background: $gay-gradient; }
.is-linear-gradient-gay::-webkit-progress-value { background: $gay-gradient; }
.is-linear-gradient-gay { color: $gay-gradient; }